<div class="container main">
  <div class="row">
    <div class="col-md-3">
  	  <div class="palette user tab" {{action "click" content="tab1"}} id="tab-1">
        <h1>2</h1>
        <p>Servers</p>
      </div>
    </div>
    <div class="col-md-3">
      <div class="palette user tab" {{action "click2"}} id="tab-2">
        <h1>234</h1>
    	  <p>Tests</p>    		
      </div>
    </div>
    <div class="col-md-3">
      <div class="palette user tab" {{action "click3"}} id="tab-3">
        <h1>68</h1>
    	  <p>Tests Against</p>    		
      </div>
    </div>
    <div class="col-md-3">
      <div class="palette user tab" {{action "click4"}} id="tab-4">
        <h1>12</h1>
    	  <p>Saved Results</p>    		
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="palette user analytics">
        <div class="tab-content" id="tab-1-content">content 1</div>
        <div class="tab-content" id="tab-2-content">content 2</div>
        <div class="tab-content" id="tab-3-content">content 3</div>
        <div class="tab-content" id="tab-4-content">content 4</div>
      </div>
    </div>
  </div>       
  <div class="row">
    <div class="col-md-12"><div class="palette user dash"></div></div>
  </div>      
</div> 