<div class="row">
  <div class="col-sm-4 col-sm-offset-2">
    <h3>Welcome {{currentUser.email}}</h3>
    {{#link-to "servers.new"}}<button class="btn btn-lg btn-primary">Run a Test <i class="glyphicon glyphicon-chevron-right pull-right"></i></button>{{/link-to}}
    <br>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
  </div>
  <div class="col-sm-4">
    {{partial "leaderboard"}}
  </div>
</div>


<div class="row">
  <div class="col-sm-8 col-sm-offset-2">
    {{partial "recent-results"}}
  </div>
</div>
