.container{
  margin-top: 100px;
  margin-bottom: 100px;
}

.main-container {
  margin-top: 100px;
  margin-bottom: 100px;
}

.palette{
  text-align: center;
  background-color: $brand-tertiary;
  border-radius: 10px;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 50px;
  padding-bottom: 50px;
}

.tri-row {
  text-align: center;
  margin: 40px 0;
  .palette{
    padding: 20px;
    min-height: 320px;
    margin-top: 30px;
  }
}

/*CHANGE THIS*/
.section-xsmall {
  margin-bottom: 50px;
}

.section-small {
  margin-bottom: 100px;
}

.section-medium {
  margin-bottom: 200px;
}

.section-large {
  margin-bottom: 300px;
}

.section-xlarge {
  margin-bottom: 400px;
}

.next-steps-container{
  button{
    margin-bottom: 10px;
  }
}


/*TABBED DATA*/
/* START: 3 tabs for tests, conformance, heat map */
.tabbed-data{
  font-size: 20px;
  font-weight: 50;
  display: inline-block;
  width:33%;
}

.tabbed-data-container{
  margin-top: 25px;
}

.nav-tabs > li > a{
  color: $brand-primary;
}
/*END*/


