$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
// @import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

$brand-primary: #505152;
$brand-secondary: #D85D20;
$brand-tertiary: #FFFFFF;
$background: #F5F5F5;


/************************** TO BE PLACED IN BOOTSTRAP3.SCSS **************************/

.container{
  margin-top: 100px;
  margin-bottom: 100px;
}

.main-container {
  margin-top: 100px;
  margin-bottom: 100px;
}

/*Palette stuff*/
/* White palettes */



/*instructional text. we could call this h3 or something */



/******************************** LANDING PAGE ********************************/



#animation{
  height: 450px;
  margin-top: 10px;
  margin-bottom: 10px;
}

/*end landing page*/

/*need to inspect this and see if it can be refactored. This stuff would be application wide stuff*/

.section-xsmall {
  margin-bottom: 50px;
}

.section-small {
  margin-bottom: 100px;
}

.section-medium {
  margin-bottom: 200px;
}

.section-large {
  margin-bottom: 300px;
}

.section-xlarge {
  margin-bottom: 400px;
}



/* START: 3 tabs for tests, conformance, heat map */
.tabbed-data{
  font-size: 20px;
  font-weight: 50;
  display: inline-block;
  width:33%;
}

.tabbed-data-container{
  margin-top: 25px;
}

.nav-tabs > li > a{
  color: $brand-primary;
}

/* END: 3 tabs for tests, conformance, heat map */

/* START: collapse panels */
.panel-heading a:after {
    font-family:'Glyphicons Halflings';
    content:"\e114";
    float: right;
    color: grey;
}
.panel-heading a.collapsed:after {
    content:"\e080";
}

.test-panel-heading {
  font-weight: bold;
}

.tab-content-holder{
  margin-top: 30px;
  margin-bottom: 30px;
}


/* END: collapse panels */




/************************** ANYTHING ON CONFORMANCE/TEST REVIEW PAGE **************************/

/***********  METADATA DISPLAY **********/

.meta-container{
  background-color: $brand-tertiary;
}

.metadata-table{
  tbody > tr > td {
    border-top: none;
  }
}

.metadata-label{
  font-weight: bold;
  color: #7F9FC5;
}

.metadata-menu{
  font-size: 11px;
}

.metadata-title{
  text-align: center;
}

.metadata-selector{
  .nav-pills > li > a{
    color: $brand-primary;
    border-radius: 2px;
    padding: 5px 10px;
  }
  .nav-pills > li.active > a{
    background-color: #eeeeee;
    color: $brand-primary;
  }
}


/***********  OTHER DISPLAY **********/
#resource-chart{
  margin-top: 30px;
  margin-bottom: 50px;
}

input[type="checkbox"]{
  margin-right: 10px;
}

/************************** ANYTHING ON TEST RESULT PAGE **************************/

.next-steps-container{
  button{
    margin-bottom: 10px;
  }
}



/************************** ANYTHING HAVING TO DO WITH ICONS **************************/

/*spinning loading icon*/
.glyphicon-refresh-animate {
    float: right;
    margin-right: 17px;
    -animation: spin .7s infinite linear;
    -webkit-animation: spin2 .7s infinite linear;
}

@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}

.conformance-test-badge{
  margin-left: 29px;
  margin-right: 29px;
  &.results-passed {
    background: #28BA0F;
    border: none;
  }
  &.results-failed {
    background: #B71817;
    border: none;
  }
}

.test-circle-holder{
  float: right;
  padding-right: 30px;
}

.animation-icons{
  float:right;
}

/*start loading bar*/
.progress{
  margin-top: 35px;
  height: 30px;
  background-color: $brand-tertiary;
  border: 1px solid $brand-secondary;
}

.progress-bar{
  background-color: $brand-secondary;
  width: 40%;
}
/*end loading bar*/

/*start circle stuff*/
.circle-filled{
  display: inline-block;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border: 1px solid $brand-secondary;
  background: $brand-secondary;
}

.circle-empty{
  display: inline-block;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border: 1px solid $brand-secondary;
}

.test-circle-empty{
  width: 15px;
  height: 15px;
  margin-left: 27px;
  margin-right: 27px;
  border: 1px solid #7F9FC5;
}

.test-circle-filled{
  width: 15px;
  height: 15px;
  margin-left: 27px;
  margin-right: 27px;
  border: 1px solid #7F9FC5;
  background: #7F9FC5;
}

.passed{
  color: #28BA0F;
  float: right;
  margin-right: 17px;
}

.failed{
  color: #B71817;
  float: right;
  margin-right: 17px;
}

/*end circle stuff*/



/************************** LOGIN STUFF **************************/

.login{
  text-align: center;
  font-size: 60px;
  font-weight: bold;
  color: $brand-primary;
}

.login-footer{
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 50px;

  login-btn{
    text-align: right;
    button{
      height: 100px;
    }
  }
  login-options{
    vertical-align: center;
    position: absolute;
  }
}

.modal-content{
  background-color: $background;
}

.modal-body{
  padding: 40px;
}

.login-inputs{
  text-align: center;
  margin-top: 30px;
  margin-bottom: 26px;
  margin-left: 50px;
  margin-right: 50px;
}

.login-input{
  margin-bottom: 10px;
}
