$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
// @import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

$brand-primary: #505152;
$brand-secondary: #D85D20;
$brand-tertiary: #FFFFFF;
$background: #F5F5F5;


/************************** TO BE PLACED IN BOOTSTRAP3.SCSS **************************/


body {
  background-color: $background;
  font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
}

footer {
  background-color: $brand-primary;
  border-color: $brand-primary;
  margin-top: 100px;

  /*overridding bootstrap behavior*/
  .nav > li > a:hover{
    background-color: $brand-primary;
  }
  .nav > li > a:visited{
    background-color: $brand-primary;
  }  

}

header {
  background-color: $brand-primary;
  border-color: $brand-primary;
  border-radius: 0px;

  /*overridding a bootstrap behavior*/
  .nav > li > a:hover{
    background-color: $brand-primary;
  }
  .nav > li > a:visited{
    background-color: $brand-primary;
  }  
}

h1{
  font-size: 29px;
  color: $brand-primary;
  margin-bottom: 40px;
  margin-top: 0;
}

h2{
  font-size: 29px;
  color: $brand-primary;
  margin-top: 0;
  text-align: left;
}


img{
  padding: 20px;
}

.img-div{
  text-align: center;
}

.btn {
  height: 34px; 
  width: 100%; 
  background-color: $brand-secondary; 
  border-color: $brand-secondary;
  color: $brand-tertiary;
    a {
      color: $brand-tertiary;
    }
    a:hover{
      color: $brand-tertiary;
      text-decoration: none;
    }
}

.btn:focus {
  background-color: $brand-secondary; 
  border-color: $brand-secondary;
  color: $brand-tertiary;
}

.btn:hover{
  color: $brand-tertiary;
  text-decoration: none;
}

/*Navigation has a navbar-header and then the actual nav itself*/

.navbar-header{
  .navbar-brand{
    font-weight: 500;
    font-size: 24px;
    color: $brand-tertiary;
  }
}

nav {
  .navButton {
    font-weight: 100;
    font-size: 15px;
    color: $brand-tertiary;
  }
}

.container{
  margin-top: 100px;
  margin-bottom: 100px;
}

.main-container {
  margin-top: 100px;
  margin-bottom: 100px;
}

/*Palette stuff*/
/* White palettes */
.palette{
  text-align: center;
  background-color: $brand-tertiary;
  border-radius: 10px;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 50px;
  padding-bottom: 50px;
}

.form-group{
  margin-bottom: 0px;
}

/*instructional text. we could call this h3 or something */
.helper_text{
  font-size: 12px;
  text-align: left;
  color: #5A564D;
  margin-top: 10px;
  margin-bottom: 10px;
}

/**************************** Might be uneccesary code ****************************/

/*.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}*/

/*.container-narrow > hr {
  margin: 30px 0;
}*/


/* this was within the header defn */
/*  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
  }*/
/*
.tri-palette{
  text-align: center;
  background-color: #FFFFFF;
  border-radius: 10px;
  padding: 20px;
  min-height: 320px;
  margin-top: 30px;
  .btn {
    font-size: 21px;
    color: #FFFFFF;
    padding: 14px 24px;
    background-color: #D85D20;
    border-color: #D85D20;
  };
}

.tate{
  -ms-transform: rotate(-80deg);
  -webkit-transform: rotate(-80deg);
  transform: rotate(-80deg);
}*/




/*i think this stuff was fir the dropdown that i got rid of that displayed conformance */
/*.dropdown-toggle{
  background-color: #fff;
  color: #505152;
  border-color: #505152;
}

.dropdown-toggle:hover{
  background-color: #eeeeee;
  color: #505152;
  border-color: #505152;
}

.dropdown-toggle:focus{
  background-color: #eeeeee;
  color: #505152;
  border-color: #505152;
}*/

/******************************** END SECTION ********************************/

/******************************** LANDING PAGE ********************************/

.tri-row {
  text-align: center;
  margin: 40px 0;
  .palette{
    padding: 20px;
    min-height: 320px;
    margin-top: 30px;
  }
}

#animation{
  height: 450px;
  margin-top: 10px;
  margin-bottom: 10px;
}

/*end landing page*/

/*need to inspect this and see if it can be refactored. This stuff would be application wide stuff*/

.section-xsmall {
  margin-bottom: 50px;
}

.section-small {
  margin-bottom: 100px;
}

.section-medium {
  margin-bottom: 200px;
}

.section-large {
  margin-bottom: 300px;
}

.section-xlarge {
  margin-bottom: 400px;
}






/* START: 3 tabs for tests, conformance, heat map */
.tabbed-data{
  font-size: 20px;
  font-weight: 50;
  display: inline-block;
  width:33%;
}

.tabbed-data-container{
  margin-top: 25px;
}

.nav-tabs > li > a{
  color: $brand-primary;
}

/* END: 3 tabs for tests, conformance, heat map */

/* START: collapse panels */
.panel-heading a:after {
    font-family:'Glyphicons Halflings';
    content:"\e114";
    float: right;
    color: grey;
}
.panel-heading a.collapsed:after {
    content:"\e080";
}

.test-panel-heading {
  font-weight: bold;
}

.tab-content-holder{
  margin-top: 30px;
  margin-bottom: 30px;  
}

.panel-heading{
  text-align: left;
  padding: 0px 0px;
}

.panel-group .panel{
  border-bottom: 1px solid #ddd;
  box-shadow: none;
}

.panel-body{
  text-align: left;
  label{
    color: #7F9FC5;
  }
}

.panel-title{
  text-align: left;
  font-size: 14px;
  margin-bottom: 15px;
}

/* END: collapse panels */


/* START: anything and everything table related */
.table {
  margin-top: 20px;
  margin-bottom: 20px;

  tr{
    border-bottom: 1px solid $background;
  }
  thead{
    border-bottom: 1px solid $background; 
  }
}

.table-header{
  font-size: 14px;
}

.table-label-holder{
  float: right; 
  padding-right: 40px
}

table > tbody > tr > td{
  text-align: left;
}

table > thead > tr > th{
  text-align: left;
}

.table-container{
  height: 300px;
  overflow: auto;
}

span .table-cell{
  display: inline-block;
  width: 70px;
  font-size: 14px;
  text-align: center;
}
/* END: anything and everything table related */


/************************** ANYTHING ON CONFORMANCE/TEST REVIEW PAGE **************************/

/***********  METADATA DISPLAY **********/

.meta-container{
  background-color: $brand-tertiary;
}

.metadata-table{
  tbody > tr > td { 
    border-top: none; 
  }
}

.metadata-label{
  font-weight: bold;
  color: #7F9FC5;
}

.metadata-menu{
  font-size: 11px;
}

.metadata-title{
  text-align: center;
}

.metadata-selector{
  .nav-pills > li > a{
    color: $brand-primary;
    border-radius: 2px;
    padding: 5px 10px;
  }
  .nav-pills > li.active > a{
    background-color: #eeeeee;
    color: $brand-primary;
  }  
}


/***********  OTHER DISPLAY **********/
#resource-chart{
  margin-top: 30px;
  margin-bottom: 50px;  
}

input[type="checkbox"]{
  margin-right: 10px;
}

/************************** ANYTHING ON TEST RESULT PAGE **************************/

.next-steps-container{
  button{
    margin-bottom: 10px;
  }
}



/************************** ANYTHING HAVING TO DO WITH ICONS **************************/

/*spinning loading icon*/
.glyphicon-refresh-animate {
    float: right;
    margin-right: 17px;
    -animation: spin .7s infinite linear;
    -webkit-animation: spin2 .7s infinite linear;
}

@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}

.conformance-test-badge{
  margin-left: 29px;
  margin-right: 29px;
}

.test-circle-holder{
  float: right;
  padding-right: 30px;
}

.animation-icons{
  float:right;
}

/*start loading bar*/
.progress{
  margin-top: 35px;
  height: 30px;
  background-color: $brand-tertiary;
  border: 1px solid $brand-secondary;
}

.progress-bar{
  background-color: $brand-secondary;
  width: 40%;
}
/*end loading bar*/

/*start circle stuff*/
.circle-filled{
  display: inline-block;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;  
  border: 1px solid $brand-secondary;
  background: $brand-secondary;
}

.circle-empty{
  display: inline-block;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;  
  border: 1px solid $brand-secondary;
}

.test-circle-empty{
  width: 15px;
  height: 15px;
  margin-left: 27px;
  margin-right: 27px;
  border: 1px solid #7F9FC5;
}

.test-circle-filled{
  width: 15px;
  height: 15px;
  margin-left: 27px;
  margin-right: 27px;  
  border: 1px solid #7F9FC5;
  background: #7F9FC5;
}

.passed{
  color: #28BA0F;
  float: right;
  margin-right: 17px;
}

.failed{
  color: #B71817;
  float: right;
  margin-right: 17px;
}

table > tbody > tr > td{
  .passed{
    float: none;
    margin-right: 0px;
  }

  .failed{
    float: none;
    margin-right: 0px;
  }
}
/*end circle stuff*/



/************************** LOGIN STUFF **************************/

.login{
  text-align: center;
  font-size: 60px;
  font-weight: bold;
  color: $brand-primary;
}

.login-footer{
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 50px;
  
  login-btn{ 
    text-align: right;
    button{
      height: 100px;
    }
  }
  login-options{
    vertical-align: center;
    position: absolute;
  }
}

.modal-content{
  background-color: $background;
}

.modal-body{
  padding: 40px;
}

.login-inputs{
  text-align: center;
  margin-top: 30px;
  margin-bottom: 26px;  
  margin-left: 50px;
  margin-right: 50px;
}

.login-input{
  margin-bottom: 10px;
}

