.panel-heading{
  text-align: left;
  padding: 0px 0px;
}

.panel-group .panel{
  border-bottom: 1px solid #ddd;
  box-shadow: none;
}

.panel-body{
  text-align: left;
  label{
    color: #7F9FC5;
  }
}

.panel-title{
  text-align: left;
  font-size: 14px;
  margin-bottom: 15px;
}