<div class="container main">
  <div class="row">
    <div class="col-md-3">
	  <div class="palette user tab">
        <h1>2</h1>
    	<p>Servers</p>
      </div>
	</div>
    <div class="col-md-3">
      <div class="palette user tab">
        <h1>234</h1>
    	<p>Tests</p>    		
      </div>
    </div>
    <div class="col-md-3">
      <div class="palette user tab">
        <h1>68</h1>
    	<p>Tests Against</p>    		
      </div>
    </div>
    <div class="col-md-3">
      <div class="palette user tab">
        <h1>12</h1>
    	<p>Saved Results</p>    		
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12"><div class="palette user analytics"></div></div>
  </div>       
  <div class="row">
    <div class="col-md-12"><div class="palette user dash"></div></div>
  </div>      
</div> 