<footer>
  <div class="container-fluid">
    <div class="navbar-header">
      <%= image_tag "logo.png" %>
    </div>
    <ul class="nav pull-right">
      <li><a class="navButton"href="#">About Us</a></li>
      <li><a class="navButton" href="#">HL7's FHIR</a></li>
      <li><a class="navButton" href="#">Meaningful Use</a></li>
    </ul>
  </div>
</footer>
